@font-face{
	font-family: Utopia;
	src: url(../fonts/UtopiaStd-Regular.otf);
}
@font-face{
	font-family: ProximaNovaThin;
	src: url(../fonts/ProximaNovaThin.ttf);
}
#typer {
  background-color:#ce3635;
  text-align: center;
  color:#fff;
  padding-top:10em;
  padding-bottom: 10em;
}

ul{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: #333;
}
li{
	float: right;
}
li.menuItem{
	font-weight:200;
	/*display: block;*/
	color: white;
	text-align:center;
	padding-top:.5%;
	padding-right:1%;
	font-family:'ProximaNovaThin';
	position:relative;
	letter-spacing: 2.5px;
	font-size:small;
}
#name{
	font-family: 'ProximaNovaThin';
	letter-spacing: 4px;
	display:block;
	color:white;
	text-align:center;
	font-size: x-large;
	float:left;
	padding-left: 2%;
}
li.menuItem:hover{
	/*background-color:#111;
	color:#111;*/
	/*font-weight: 900;
	text-shadow: 1px 0 white;*/
	font-weight:800;
	letter-spacing: 2.4px;
}


* { color:#fff; text-decoration: none;}